
/* body */
* {
    Margin:0;
    padding:0;
 }

body {
    background-color: #f5be0adc; 
    font-family: montserrat;
    overflow-x: hidden;
}

/*Bienvenidos!*/
span{
    color: #836401;
}

/*Centrar*/
div img.centrar-img-iframe{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.centrar-img-iframe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*background-colors*/
.bg-gray-1{
   background-color: rgba(131, 134, 134, 0.5); 
   padding: 10px 20px 10px 20px;
   margin: 30px 10px 20px 10px;
   border-radius: 20px;
}

.bg-gray-2{
    background-color: rgba(131, 134, 134, 0.644); 
    padding: 10px 20px 10px 20px;
    margin: 30px 10px 20px 10px;
    border-radius: 20px;
}

.bg-yellow-opaccity{
    background-color: rgba(236, 234, 74, 0.39); 
    padding: 10px 20px 40px 20px;
    margin: 30px 10px 20px 10px;
    opacity:0,5;
}

.bg-black{
    background-color: rgb(0, 0, 0);
}

/*Subtitulos y Titulos*/
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #fac003;
}

h2 {
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

h4 {
    text-align: center;
    color: #fac003;
    font-size: 110%;
}

/*Header*/
header{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 15px;
    padding-top: 25px;
    position: sticky;
    top: 0px;
    z-index: 100;

}

header.bg-black{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/*Barra de busqueda*/
nav ul li a{
    text-decoration: none;
    color:#fac003;
    font-size: 22px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.contenedor-imagen img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    transition: all 0.7s;
    border-radius: 10px;
}

li:hover{
    transform: scale(1.2);
    background-color: #c29503ce;
    border-radius: 12px;
    padding: 0% 1% 0% 1%;
}

/*Shows*/
.card-ivan{
    background-color: #ecbc1e;
}

.card-div-ivan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;}


/*Fotos*/
section article img {
    margin: 0px 15px 45px 20px;
    position: static;
}

/*Footer*/
.contenedor-1{
    grid-area: instagram-logo;
    Justify-self: End;
    transition: all 2s;
}

.contenedor-2{
    grid-area: logo-ruido-blanco;
    Justify-Self: Center
}

.contenedor-3{
    grid-area: copyright;
    Justify-Self: Center
}

.contenedor-4{
    grid-area: youtube-logo;
    justify-self: start;
    transition: all 2s;
}

.super-contenedor{
    width: 100%;
    margin: 0 auto;
    height: 5%;
    display: grid;
    grid-template-areas:
                        'logo-ruido-blanco logo-ruido-blanco'
                        'copyright copyright'
                        'youtube-logo instagram-logo'; 
    grid-template-columns: 50%;
    grid-template-rows: auto;
}

footer.bg-black{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0.60%;
    margin-top: 7px;
}

/*iconos instagram-youtube*/
i{
    color: rgb(245, 221, 8);
    font-size: 40px;
    transition: all 0.6s;
}

i:hover{
    color: #c29503;
    transform: scale(1.2);
}

.row-mio div:nth-child(1){
    background-color: #ecba14;
}
.row-mio div:nth-child(2){
    background-color: #ecba14;
}
.row{
    background-color: #ecba14;
}
/*BIOGRAFIA*/

/*Vista Celular Header*/

