
/* body */
* {
    Margin:0;
    padding:0;
 }

body {
    background-color: #f5be0adc; 
    font-family: montserrat;
}

/* Class */
.font18px{
    font-size: 18px;
}

.separador-parrafos{
    margin:20px;
}

.centrar-img-iframe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg-gray{
   background-color: rgba(131, 134, 134, 0.5); 
   padding: 10px 20px 10px 20px;
   margin: 30px 10px 20px 10px;
   border-radius: 20px;
}

.bg-yellow-opaccity{
    background-color: rgba(236, 234, 74, 0.39); 
    padding: 10px 20px 40px 20px;
    margin: 30px 10px 20px 10px;
    opacity:0,5;
}

.bg-black{
    background-color: rgb(0, 0, 0);
}
footer.bg-black{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.60%;
}
/* Class */

/*Subtitulos*/
h2 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}
/*Subtitulos*/

/*Titulos*/
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #fac003;
}
/*Titulos*/

/*Header*/
header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

/*Barra de busqueda*/
nav ul li a{
    text-decoration: none;
    color:#fac003;
    font-size: 22px;
    
}

li:hover{
    transform: scale(2);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
/*Barra de busqueda cierra */

/*Fotos*/
section article img {
    margin: 0px 15px 45px 20px;
    position: static;
}

/*Footer*/
.contenedor-1{
    grid-area: instagram-logo;
    Justify-self: End;
}

.contenedor-2{
    grid-area: logo-ruido-blanco;
    Justify-Self: Center
}

.contenedor-3{
    grid-area: copyright;
    Justify-Self: Center
}

.contenedor-4{
    grid-area: youtube-logo;
    justify-self: start;
}

.super-contenedor{
    width: 100%;
    margin: 0 auto;
    height: 5%;
    display: grid;
    grid-template-areas:
                        'logo-ruido-blanco logo-ruido-blanco'
                        'copyright copyright'
                        'youtube-logo instagram-logo'; 
    grid-template-columns: 50%;
    grid-template-rows: auto;
}

h4 {
    text-align: center;
    color: #fac003;
    font-size: 110%;
}

footer a i {
    color: rgb(245, 221, 8);
    font-size: 40px 
}

footer a i:hover{
    color: #9c7803;
}

footer.bg-black{
    margin-top: 7px;
}

/*Footer Cierra*/


/*BIOGRAFIA*/
.biografia-bg-color{
    background-color: rgba(179, 179, 179, 0.856);
    margin: 20px 15px 25px 15px;
    padding: 15px 17px 15px 17px;
    font-size: 18px;
    border-radius: 20px;
}
/*BIOGRAFIA*/



