/*Logos footer*/
$logos-footer:

instagram-logo,
logo-ruido-blanco,
copyright,
youtube-logo,
;

/*bordes-radius*/
$bordes-radius:
/*footer*/
15px,
/*header*/
18px,
;

/*font-sizes*/
$font-size:
40px
18px
110%
;

/*Text-align para los titulos y subtitulos*/
$text-align:
center,
start
;
