.contenedor-imagen {
    @extend %flex-center-row;
}

/*Link "Mas info..."*/
.mas-info-style{
    text-decoration: none;
    color:#69540f;
    font-weight: bold;
}

.mas-info-style:hover{
    color: #bd9513;
}

/*Font size parrafo*/
div.font-size-biografia{
    p{
        font-size: nth($font-size , 4);
    }
}

/*Responsive Biografia*/
@media screen and (max-width: 1200px) {
    div.contenedor-imagen{
        img{
            width: calc($width*2);
            @include div-contenedor-img(#c09300be, 20px);
            padding-top: 40px;
        }
    }

    div.contenedor-imagen{
        @include div-contenedor-img(#c09300be, 20px);
        margin-bottom: 25px;
    }

    .bg-color-biografia-1{
        background-color: #bb9002;
        @include bg-color-responsive(2%, 20px, 20px);
        padding: calc($padding *2);
    }

    .bg-color-biografia-2{
        background-color: #9b7701;
        @include bg-color-responsive(2%, 20px, 20px);
    }

}

@media (max-width: 425px){
    div.contenedor-imagen img{
        width: calc($width);
    }

    div.font-size-biografia{
        p{
            font-size: nth($font-size , 2);
        }
    }
}

