/*Color Span*/
span{
    color: $color-span;
}

/*Shows*/
.card-ivan{
   background-color: $bg-color-card;     
}

.card-div-ivan{
    @extend %flex-center-row;
    gap: calc($gap *20);  
}

div{
    iframe{
        border-radius: calc($border-radius *3);
    }
}

/*Fotos*/
section{
    article{
        img{
            margin: 0px 15px 45px 20px;
            position: static;
        }
    }
}

/*Vista Mobile Index*/
@media screen and (max-width: 768px) {
    .card-div-ivan{
        gap: calc($gap*10); 
        flex-wrap: wrap;
    }

    iframe{
        height: 400px;
    }
    
}

@media screen and (max-width: 425px) {
    article.centrar-img-iframe{
        div{
            img{
                height: 250px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    article.centrar-img-iframe{
        div{
            img{
                height: 200px;
            }
        }
    }

    iframe{
        height: 300px;
    }
}



